
<div class="card-columns">
  <div class="card">
    <a href="https://www.barnesandnoble.com/w/celestial-downfall-boxed-set-aj-flowers/1128140839?ean=2940155425595">
      <img class="card-img-top" src="https://prodimage.images-bn.com/pimages/2940155425595_p0_v1_s550x406.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href="#">Celestial Downfall Boxed Set</a></h5>
    </div>
  </div>
  <div class="card">
    <a href="https://www.barnesandnoble.com/w/ive-got-my-eyes-on-you-mary-higgins-clark/1126900621?ean=9781501171680#/">
      <img class="card-img-top" src="https://prodimage.images-bn.com/pimages/9781982101589_p0_v2_s550x406.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href="#">I've Got My Eyes on You</a></h5>
    </div>
  </div>
  <div class="card">
    <a href="https://www.barnesandnoble.com/w/after-anna-lisa-scottoline/1126245335?ean=9781250099655#/">
      <img class="card-img-top" src="https://prodimage.images-bn.com/pimages/9781250099655_p0_v2_s550x406.jpg" alt="Card image cap">
    </a>
    <div class="card-body">
      <h5 class="card-title"><a href="#">After Anna</a></h5>
    </div>
  </div>
</div>
